/* add more 19/8/2014 huyvv - Div máº«u há»— trá»£ trá»±c tuyáº¿n cho ngÆ°á»i dĂ¹ng */
* {
    margin: 0;
    padding: 0;
}

#es_supportOnline .so_item {
    border-bottom: 1px dotted #ccc;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.l_first {
    margin: 0px;
    border-top: none !important;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#es_supportOnline .so_inner {
    font-size: 11px;
    overflow: hidden;
}

.support-type {
    padding: 5px 0;
    margin: 0px !important;
}

    .support-type a {
        width: 45%;
        float: left;
        margin-left: 1px;
    }

        .support-type a.icon-yahoo img {
            height: 20px;
        }

    .support-type img {
        height: 22px;
        width: 100%;
    }

    .support-type .space {
        padding: 0 0 0 5px;
    }

.icon-16-support {
    background: url("../images/icon-16-support.png") no-repeat scroll left center transparent;
    display: block;
    margin-left: 1px;
}

.support-phone, .support-email, .support-name, .support-fax {
    color: #333333;
    font-family: Arial,Sans-Serif;
    font-size: 12px;
    line-height: 25px;
    padding: 0 0 0 20px;
    text-align: left;
}

.icon-16-phone {
    background: url("../images/icon-16-phone.png") no-repeat scroll left center transparent;
    display: block;
    margin-left: 1px;
}

.icon-16-email {
    background: url("../images/icon-16-email.png") no-repeat scroll left center transparent;
    display: block;
    margin-left: 1px;
}

/* add more 19/8/2014 huyvv*/
.product_box ul.product li span.price_cu {
    text-align: center;
    display: block;
    text-decoration: line-through
}

h3, h2, h1, h4 {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    font-size: 12px;
}

a.thiekeweb {
    color: #AAAAAA !important;
}

.header_full img {
    width: 100%;
    max-height: 260px;
}

.slides {
    width: 100% !important;
}

    .slides .slide {
        width: 100% !important;
        position: relative !important;
    }
/*--------------------------------------------*/
.main_full .content_col .news_box {
    width: 100%;
    box-shadow: 0 0 0 1px #d8d8d8;
}

.resultSearch {
    padding: 0px 15px;
}

.resultSearch {
    padding: 5px 15px 0px;
    margin: 0px;
    color: #666;
}

.main_full .content_col .news_box h1 {
    color: #ffffff;
}

.content_col_detail {
    float: left;
    text-align: justify;
    clear: both;
    width: 98%;
    margin: 1%;
}

    .content_col_detail table {
        width: 95% !important;
    }

    .content_col_detail img {
        max-width: 100% !important;
    }

    .content_col_detail #Form1 div {
        margin-top: 7px;
    }

.group_info_product {
    float: left;
    line-height: 25px;
    text-align: justify;
    width: 450px;
}

    .group_info_product .addcart {
        display: block;
        margin-top: 10px;
    }
/*  for temp 031b  */
.group_info_product821 {
    float: left;
    line-height: 25px;
    text-align: justify;
    width: 420px;
}

    .group_info_product821 .addcart {
        display: block;
        margin-top: 10px;
    }
/* -------------- */
.pro_detail_oldprice {
    clear: both;
    color: #666666;
    display: block;
    text-decoration: line-through;
    font-weight: bold;
}

.pro_info_other {
    color: #333;
    font-weight: bold;
}

.text_form {
    margin-bottom: 10px;
    float: left;
    width: 120px;
}

.input_form {
    border: 1px solid #91BCD5;
    margin-bottom: 5px;
}

.input_form {
    padding: 6px 6px;
}

/*---------------------------------------*/
.main_full .content_col .news_box ul.news {
    float: left;
    list-style: none outside none;
    margin: 0px 0 0 0px;
    padding: 0;
    position: relative;
}

.news_box_detail {
    float: left;
    text-align: justify;
    width: 70%;
}

.news_box_title {
    font-weight: bold;
    text-transform: uppercase;
}

/*.content_col_detail ul.news_other li {
    background: url("../images/bullet_arrow_02.png") no-repeat scroll 0 2px transparent;
    display: block;
    font-weight: bold;
    list-style: none outside none;
    margin: 0 0 10px 2px;
    padding: 0 0 0 16px;
}*/

/*----------------------Video--------------------*/
.box_video .big_video {
    float: left;
    width: 300px;
    height: auto;
    padding: 0;
}

.module ul.promo li .pic img {
    width: 100%;
    height: auto;
    border: #E9E9E9 solid 1px;
    border-bottom: none;
}

.module ul.promo li .thumb {
    width: auto;
    border: 2px solid #CCC;
}

.top_seller_pic {
    z-index: 1;
    height: auto;
    width: auto;
    display: block;
    top: 10px;
    clear: both;
    border: none;
}

    .top_seller_pic img {
        height: auto;
        width: auto;
        border: #E9E9E9 solid 1px;
    }

.module ul.promo li .pic {
    height: auto
}

.mini_thumb {
    width: 50px;
    height: auto;
    margin-right: 8px;
    padding: 2px;
    border: 1px solid #CCC;
    margin-bottom: 5px;
}

.body_pay {
}

.span_chuyenkhoan {
    display: none;
}


.main_full .content_col .product_box ul.product li .pic {
    height: 123px
}

.main_full .content_col .product_box ul.product li img.thumb {
    height: 120px;
    width: 118px;
}

.main_full .content_col .product_box ul.product li span.title {
    text-align: center;
}

.main_full .content_col .product_box ul.product li .title {
    font-weight: bold;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    max-height: 45px;
    min-height: 45px;
    overflow: hidden;
    clear: both;
    text-align: center;
    word-wrap: break-word;
}

.list_video span {
    color: #666;
    display: block;
    float: left;
}

    .list_video span h3 {
        padding-bottom: 3px;
    }

.product_box ul.product li span.price {
    text-align: center;
}

.product_box ul.product li span.buy {
    text-align: center;
}

/*---Sub menu-----------*/
.top_menu ul li:hover ul.submenu {
    display: block;
}


.top_menu ul li ul.submenu {
    display: none;
    float: left;
    margin-top: 0px;
    position: absolute;
    width: 180px;
    z-index: 9999;
    border: 1px dotted #CCC;
    overflow: hiddend;
    height: auto;
    padding: 5px 0 10px 0;
    background: #fff;
    -moz-box-shadow: 1px 1px 2px #999;
    -webkit-box-shadow: 1px 1px 2px #000;
    box-shadow: 1px 1px 2px #313131;
    border-radius: 4px 4px 4px 4px;
}

    .top_menu ul li ul.submenu .icon {
        position: absolute;
        z-index: 9999;
        width: 26px;
        height: 16px;
        margin-top: -19px;
        background: url(http://www.vungmien.vn/templates/temp_3/images/hover-icon.png) top left no-repeat;
    }

    .top_menu ul li ul.submenu li {
        padding: 0px;
        width: 100%;
        display: block;
        margin: 0;
        height: 28px;
        border: none;
        background: none;
    }

        .top_menu ul li ul.submenu li a {
            background: url(http://www.vungmien.vn/templates/temp_3/images/icon-left-nav.png) center left no-repeat;
            text-align: left;
            color: #666;
            padding: 0px 10px;
            margin: 0;
            line-height: 2.6;
            height: 28px;
            width: auto;
            text-transform: capitalize;
            border-bottom: 1px #CCC dotted;
            padding: 0 0 0 20px;
            display: block;
        }

            .top_menu ul li ul.submenu li a:hover {
                background: url(http://www.vungmien.vn/templates/temp_3/images/icon-left-nav.png) center left no-repeat;
                text-align: left;
                color: #313131;
                padding: 0px 10px;
                margin: 0;
                line-height: 2.6;
                height: 28px;
                width: auto;
                text-transform: capitalize;
                border-bottom: 1px #CCC dotted;
                padding: 0 0 0 22px;
            }

.module ul.category li {
    cursor: pointer;
}

#wrapper {
    z-index: 1;
}

.module ul.promo li {
    height: auto;
}

.box_html_center {
    width: 100%;
    padding: 5px
}


#translate-this .translate-this-button {
    background: url("../images/flat.png") no-repeat !important;
    height: 25px !important;
    width: 70px !important;
    float: right;
    margin-top: -5px;
}

.ttb-more {
    display: none !important;
}

.goog-te-banner-frame {
    display: none !important;
    height: 0 !important;
    position: absolute !important;
    z-index: -99999 !important;
}

#google_translate_element {
    background: url("../images/flat.png") no-repeat scroll left center transparent !important;
    float: left;
    height: 30px !important;
    width: 60px !important;
    margin-top: 5px;
}

.skiptranslate {
    color: red !important;
    opacity: 0;
}

    .skiptranslate .goog-te-combo {
        position: absolute !important;
        z-index: 99999 !important;
        display: block !important;
    }

    .skiptranslate span {
        display: none !important;
    }

.goog-te-gadget .goog-te-combo {
    margin: 0 !important;
    height: 25px !important;
    width: 60px !important;
    background: url("../images/flat.png") no-repeat scroll left center transparent !important;
    border: none;
    color: red !important;
    overflow: hidden !important;
    -webkit-appearance: none;
    -moz-linear-appearance: none;
    appearance: none !important;
    opacity: 0;
    cursor: pointer;
}

.skiptranslate select {
    -webkit-appearance: none;
    -moz-linear-appearance: none;
    appearance: none;
}

.goog-te-combo option {
    background: none repeat scroll 0 0 #161719;
    border-top: 1px dotted #4E4E4E;
    color: #00FF00 !important;
    font-weight: bold;
    height: 20px;
    padding-left: 10px;
    padding-top: 5px;
    opacity: 0.8;
}

h3, h2, h1, h4 {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    font-size: 12px;
    word-wrap: break-word;
    width: 100%;
}

span.view {
    color: #666;
    font-size: 12px;
    display: block;
    border: 1px dashed #dcdcdc;
    padding: 5px;
}

span.views {
    color: #666;
    font-size: 12px;
    display: block;
}
